body{
  margin: 0;
  background-color: #F2F2F5;
}

h1{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  color:  #4C9689;

}

/* header styles */

.header-wrapper{
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background-color: #4D384B;
  color: white;
  border-top: solid 5px #4C9689;
  width: 100%;
  top:0;
  position: fixed;

}

.header-wrapper h3{
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}

.header-wrapper a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.header-right{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.login-btn:hover{
  color:#4C9689;
  cursor: pointer;
}

.header-left img.app-logo {
  margin: 5px 15px 5px 0;
  width: auto;
  height: 55px;
}

.login-btn{
  border: solid 1px transparent;
  padding: 6px 10px;
}

.register-btn{
  border: solid 1px white;
  padding: 6px 10px;
  border-radius: 6px;
}

.register-btn:hover{
  color: white;
  background-color: #DF1463;
  cursor: pointer;
}

/*Login Form styles*/

#username, #password{
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  color:  #4D384B;
}

.form-wrapper{
  display: flex;
  justify-content: flex-end;
}

.login-form{
  margin-top: 80px;
  background-color: #ffffff;
  width: 250px;
  height: 200px;
  color:#4D384B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  text-align: center;
  z-index: 5;
  font-family: "Work Sans", sans-serif;
}

.login-form h3{
  font-size: 20px;
}

.form-group{
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  outline-style: none;
}

.form-group button{
  background-color: inherit;
  text-decoration: none;
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  color:  #4D384B;

}

.form-group button:hover{
  background-color: #DF1463;
  color: white;
  border: none;
  cursor: pointer;
}

/* jumbotron styles */


.jumbotron-wrapper{
  height: 40vh;
  width: 100vw;
  margin-top: 70px;
  background-image: url('slackgrid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-top: solid .5px black;
}



/* question cards styles */
.question-cards-wrapper{
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 55px;
}

.question-cards-wrapper-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.question-cards-wrapper-top h2{
  font-family: 'Work Sans', sans-serif;
   color: #4D384B;
}

.question-cards-wrapper-top a{
  text-decoration: none;
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  color:  #4D384B;
  font-family: 'Open Sans', sans-serif;
}

.question-cards-wrapper-top a:hover{
  background-color: #DF1463;
  color: white;
  border: none;
  cursor: pointer;
}



.question-card-content-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  padding: 35px 10px;
  border-top: solid .5px #4C9689;

}

.question-card-icon {
  height: 60px;
  width: 60px;
  border: 1px solid grey;
  margin-bottom: 0;
}

.question-card-content-left a{
  margin: 0;
  color: black;
  text-decoration: none;
}

.question-card-content-left a:hover{
  font-weight: bold;
  color: #DF1463;
  cursor: pointer;
}

.question-card-content-left{
  width: 70%;
}

.question-card-content-right{
  width: 30%;
}

.question-tags li{
  list-style-type: none;
  display: inline;
  padding: 8px;
  margin: 1px;
  text-transform: uppercase;
  text-align: center;
  background-color: #B5E2E8;
}

.question-card-content-middle{
  width:68%;
  margin-right: 2%;
}

.question-card-content-middle p, .question-card-content-middle h3{
  margin: 0;
}

.question-card-content-middle h3{
  padding-bottom: 5px;
  color: #4C9689;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}

.question-card-content-middle h3:hover{
  text-decoration: underline;
  cursor: pointer;
}

th, td{
  padding:3px 10px;
  text-align: center;
  width: 33.33%
}





.question-card-content-bottom-left{
  display: flex;
  align-items: center;
}


/*footer styles*/
.footer-wrapper{
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 0 25px;
  align-items: center;
  background-color: #4D384B;
  color: white;
  border-bottom: solid 5px #4C9689;
  margin-top: 10vh;
}

.footer-wrapper h3{
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}


.footer-wrapper img.app-logo {
  margin: 5px 15px 5px 0;
  width: auto;
  height: 45px;
}

/* single question page */

.single-question-body{
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: 'Open Sans', sans-serif;

}

.single-question-body-left{
  width: 69%;
}

.single-question-body-right{
  width: 30%;
  margin-top: 10px;
}

table{
  width: 100%;
}

.question-tags-list li{
  list-style: none;
  padding: 8px;
  margin: 5px;
  text-transform: uppercase;
  text-align: center;
  background-color: #B5E2E8;
}

.question-tags-list{
  margin-left: 0;
  padding-left: 0;
}

.single-question-body-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 65px;
  border-bottom: solid .5px #4C9689;
}

.user-class{
  display: flex;
  justify-content: space-between;
  color: #DF1463;
  align-items: center;
  padding-left: 8px;
}

.user-class p{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.user-class img{
  width: 50px;
  height: 50px;
  border: solid 1px black;
  margin-right: 15px;
}

.vote-btns input{
  background-color: transparent;
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  width: 45%;
}

.vote-btns input:hover{
  cursor: pointer;
  background-color: #DF1463;
  border: none;
  color: white;
}

.vote-btns{
  width: 30%;
  display: flex;
  justify-content: space-around;
}



.answer-header-left{
  font-family: 'Work Sans', sans-serif;
   color: #4D384B;
}

.answer-title-header{
  padding-top: 45px;
}

.answer-body-text{
  font-family: "Open Sans", sans-serif;
}

.answer-form-header{
  margin-top: 80px;
  font-family: 'Work Sans', sans-serif;
}

#answerForm textarea{
  width: 55vw;
  height: 15vw;
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  color:  #4D384B;
}


.answerSubmit{
  border: solid 1px #4D384B;
  padding: 6px 10px;
  color: #4D384B;
  border-radius: 6px;
  margin-right: 10vw;
  background-color: transparent;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.answerSubmit:hover{
  background-color: #DF1463;
  color: white;
  border: solid 1px white;
  cursor: pointer;
}

.answer-form-header{
  color:  #4D384B;
}

.ask-question-page-wrapper{
  height: 40vh;
  width: 85vw;
  margin: 0 auto;
}

.ask-question-page-header{
  font-family: "Work Sans", sans-serif;
  color: #4D384B;
  font-size: 20px;
}



.ask-question-form button{
  width: 80%;
}




.ask-question-page-wrapper textarea{
  width: 60vw;
  height: 20vh;
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  color:  #4D384B;
}

.form-title-input {
  width: 40vw;
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  color:  #4D384B;
}

.submit-question-btn{
  border: solid 1px #4D384B;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: transparent;
  color:  #4D384B;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-right: 10px;
}

.submit-question-btn:hover{
  background-color: #DF1463;
  color: white;
  border: solid 1px white;
  cursor: pointer;
}

li:hover{
  opacity: .7;
  cursor: pointer;
}
