body{
  margin: 0;
  background-color: #F2F2F5;
}

/* header styles */

.header-wrapper{
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 25px;
  align-items: center;
  background-color: #4D384B;
  color: white;
  border-top: solid 5px #4C9689;
}

.header-wrapper h3{
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}

.header-wrapper a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.header-right{
  display: flex;
  justify-content: space-between;
  width: 12vw;
}

.login-btn:hover{
  border-bottom: solid 1px white;
}

.login-btn{
  border: solid 1px transparent;
  padding: 6px 10px;
}

.register-btn{
  border: solid 1px white;
  padding: 6px 10px;
  border-radius: 6px;
}

.register-btn:hover{
  color: white;
  background-color: #DF1463;
}

/* jumbotron styles */

.jumbotron-wrapper{
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('stock.png');
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-top: solid 1px black;
  border-bottom: solid 1px black;

}
